.main{
    display: flex;
    width: 1283px;
    height: 39px;
    margin-top: 76px;
    margin-left: 63px;
    padding-right: 20px;
    padding-left: 20px;
    gap: 124px;
    justify-content: space-around;
    font-size: 30px;
}
.name{
    
    margin-top: 50px;
    margin-left: 610px;
    font-weight: 700px;
    size: 64px;
    line-height: 100%;
    letter-spacing: 0%;
    font-size: 60px;
}
.title{
    display: flex;
    justify-content: space-around;
    color: white;
   


}

.box{
    display: flex;
    width: 498px;
    height: 392px;
    border: 2px solid red;
    background-color: red; 
}
.time{
    text-align: center;
    align-content: center;
    color: white;
    padding-left: 180px;
    font-size: 60px;
}
.bottom{
    display: flex;
    width: 1283px;
    height: 39px;
    margin-top: 76px;
    margin-left: 63px;
    padding-right: 20px;
    padding-left: 20px;
    gap: 124px;
    justify-content: space-between;
    font-size: 30px;

}  

